{% extends 'base.html.twig' %}

{% block title %}Ajouter categories{% endblock %}

{% block body %}
<h1>Liste des catégories </h1>
<section>
  {% if categories is null %}
	<h2>Il n'y a pas de categories en BDD</h2>
  {% else %}
	{% for category in categories %}

	<a href="#" class="block rounded-md border border-gray-300 p-4 shadow-sm sm:p-6" id="{{ category.id }}">
		<div class="sm:flex sm:justify-between sm:gap-4 lg:gap-6">          
		  <div class="mt-4 sm:mt-0">
			<h3 class="text-lg font-medium text-pretty text-gray-900">
				{{ category.label }}
			</h3>
		  </div>
		</div>
	  </a>
	{% endfor %}
  {% endif %}
	
</section>
{% endblock %}
