{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<turbo-frame id="id_article">
    <h1>Ajouter un article</h1>
    {{ form(formulaire) }}
    {% include "component/_toast.html.twig" %}
</turbo-frame>
{% endblock %}
